<?php
$self = $this;
$messenger = $self->flashMessenger();
$messenger->setMessageOpenFormat('<div%s><button type="button" class="close" data-dismiss="alert">&times;</button><p>');
$messenger->setMessageSeparatorString('</p><p>');
$messenger->setMessageCloseString('</p></div>');
$html = null;

$html .= $messenger->render('success', array(
    'alert',
    'alert-dismissable',
    'alert-success'
));

$html .= $messenger->render('info', array(
    'alert',
    'alert-dismissable',
    'alert-info'
));

$html .= $messenger->render('warning', array(
    'alert',
    'alert-dismissable',
    'alert-warning'
));

$html .= $messenger->render('error', array(
    'alert',
    'alert-dismissable',
    'alert-danger'
));
?>
<?php if (! empty($html)) : ?>
<?php echo $html; ?>
<?php endif; ?>
