<?php $self = $this; ?>
<?php echo $self->partial('layout/header'); ?>
<main>
    <div class="container">
        <?php echo $self->partial('layout/messages'); ?>
    </div>
    <div class="container">
        <h1><?php echo $self->translate('Login area', 'r1c0/user'); ?></h1>
        <p><?php echo $self->translate('Welcome to the login area.', 'r1c0/user'); ?></p>
        <p>
            <strong><?php echo $self->translate('Name', 'r1c0/user'); ?>:</strong>
            <?php echo $self->identity()->getDisplayName(); ?>
        </p>
        <p>
            <strong><?php echo $self->translate('E-Mail', 'r1c0/user'); ?>:</strong>
            <?php echo $self->identity()->getEmail(); ?>
        </p>
        <p>
            <strong><?php echo $self->translate('Role', 'r1c0/user'); ?>:</strong>
            <?php echo $self->translate($self->identity()->getRole()->getLabel(), 'r1c0/user'); ?>
        </p>
        <p>
            <a class="btn btn-default"
                href="<?php echo $self->url('user/logout'); ?>"> <span
                class="glyphicon glyphicon-log-out"></span>
                <?php echo $self->translate('Logout', 'r1c0/user'); ?>
            </a>
        </p>
    </div>
</main>
<?php echo $self->partial('layout/footer'); ?>
