<?php
$self = $this;
$form = $self->form;
$isPost = $self->isPost;
$elementErrors = $self->elementErrors;
$form->setAttribute('action', $self->url('user/login'));
$form->prepare();

$messageOpenFormat = <<<OPEN
<ul class="list-unstyled">
    <li class="text-danger">
        <small>
            <span class="glyphicon glyphicon-arrow-up"></span>
            <span class="indent"></span>
OPEN;

$messageCloseFormat = <<<CLOSE
        </small>
    </li>
</ul>
CLOSE;

$self->formElementErrors()->setMessageOpenFormat($messageOpenFormat);
$self->formElementErrors()->setMessageCloseString($messageCloseFormat);
$required = array();
$loop = array(
    'email',
    'password'
);

foreach ($loop as $element) {
    $required[$element] = null;
    
    if ($isPost) {
        if (! in_array($element, $elementErrors)) {
            if ($element != "password") {
                $required[$element] = sprintf(' %s', 'has-success');
            }
        } else {
            $required[$element] = sprintf(' %s', 'has-error');
        }
    }
}

$self->formText()->setTranslatorTextDomain('r1c0/user');
$self->formPassword()->setTranslatorTextDomain('r1c0/user');
?>
<?php echo $self->partial('layout/header'); ?>
<main>
    <div class="container">
        <?php echo $self->partial('layout/messages'); ?>
    </div>
    <div class="container">
        <h1><?php echo $self->translate('Login area', 'r1c0/user'); ?></h1>
        <p><?php echo $self->translate('Use a valid email and password to login.', 'r1c0/user'); ?></p>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
                <?php echo $self->form()->openTag($form); ?>
                <div class="form-group<?php echo $required['email']; ?>">
                    <label for="email">
                        <?php echo $self->translate($form->get('email')->getLabel(), 'r1c0/user'); ?>
                        <span class="text-danger">*</span>:
                    </label>
                    <?php echo $self->formText($form->get('email')); ?>
                    <?php echo $self->formElementErrors($form->get('email')); ?>
                </div>
                <div class="form-group<?php echo $required['password']; ?>">
                    <label for="password">
                        <?php echo $self->translate($form->get('password')->getLabel(), 'r1c0/user'); ?>
                        <span class="text-danger">*</span>:
                    </label>
                    <?php echo $self->formPassword($form->get('password')); ?>
                    <?php echo $self->formElementErrors($form->get('password')); ?>
                </div>
                <div class="form-group">
                    <?php echo $self->formButton()->openTag($form->get('login')); ?>
                    <span class="glyphicon glyphicon-log-in"></span>
                    <?php echo $self->translate($form->get('login')->getLabel(), 'r1c0/user'); ?>
                    <?php echo $self->formButton()->closeTag(); ?>
                </div>
                <?php echo $self->form()->closeTag(); ?>
            </div>
        </div>
    </div>
</main>
<?php echo $self->partial('layout/footer'); ?>
